@using Leak.UI.MVC.Dtos.Blog;
@model CreateBlogDto;

<form method="post" id="createCategory">
    <b>Category title</b>
    @Html.EditorFor(m => m.Title)
    <span class="text-danger" id="TitleValidation"></span>

    <input type="submit"/>
</form>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="categoriesTableBody">
    </tbody>
</table>
<script src="~/js/jquery-3.3.1.min.js"></script>
<script>
    let titleValidationField = $("#TitleValidation");
    getCategories();
    $('#createCategory').submit((e) => {
        e.preventDefault();

        $.ajax({
            type: "POST",
            url: "/api/Categories",
            data: $('#createCategory').serialize()
        })
            .done(() => {
                alert('Created');
            })
            .fail((err) => {
                let errors = err.responseJSON.errors;

                if (errors.Title) {
                    titleValidationField.html(errors.Title[0])
                }
            });
    });

    function getCategories() {
        $.ajax({
            method: "GET",
            url: "/api/Categories"
        })
            .done((categories) => {
                $("#categoriesTableBody").html("");

                for (let category of categories) {
                    $("#categoriesTableBody")
                        .append(`<tr>
                                    <td>${category.title}</td>
                                    <td></td>
                                    <td></td>
                                </tr>`)
                }
            });
    }

    function deleteCategory(id) {
        $.ajax({
            type: "DELETE",
            url: "/api/Categories/"+id
        })
            .done(() => {
                alert('Created');
            })
            .fail((err) => {
                let errors = err.responseJSON.errors;

                if (errors.Title) {
                    titleValidationField.html(errors.Title[0])
                }
            });
    }
</script>