<section class="featured-post-area no-padding">
    <div class="container">
        <div class="row ts-gutter-20">
            <div class="col-lg-7 col-md-12 pad-r">
                <div class="owl-carousel owl-theme featured-slider" id="featured-slider">
                </div>
            </div>

            <div class="col-lg-5 col-md-12 pad-l">
                <div class="row ts-gutter-20" id="second-featured">
                </div>
            </div>

        </div>
    </div>
</section>

<script>
    let slider = document.getElementById('featured-slider');
    let secondaryFeaturedPostsContainer = document.getElementById('second-featured');
    const featuredPostsCount = 3;

    fetch('/api/LatestPosts/' + featuredPostsCount)
        .then(resp => resp.json())
        .then(posts => {
            let count = 0;

            for (let post of posts) {
                if (post) {
                    count++;
                    if ((featuredPostsCount - count) < 2) {
                        addPostToSecondaryFeatured(post);
                    }
                    else {
                        addPostToSlider(post);
                    }
                }
            }
        });

    function addPostToSlider(post) {
        slider.innerHTML += `<div class="item post-overaly-style" style="background-image:url(${post.headerPhotoPath})">
                            <div class="featured-post">
                                <a href="#" class="image-link">&nbsp;</a>
                                <div class="overlay-post-content">
                                    <div class="post-content">
                                        <div class="grid-category">
                                            <a class="post-cat health" href="#">${post.category.title}</a>
                                            <a class="post-cat lifestyle" href="#">${post.blog.title}</a>
                                        </div>

                                        <h2 class="post-title title-lg">
                                            <a href="#">${post.title} </a>
                                        </h2>
                                        <div class="post-meta">
                                            <ul>
                                                <li><a href="#"><i class="fas fa-clock"></i> 20 July, 2020</a></li>
                                                <li><a href="#" class="view"><i class="fas fa-fire"></i> 354k</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/ Featured post end -->
                        </div>`;
    }

    function addPostToSecondaryFeatured(post) {
        secondaryFeaturedPostsContainer.innerHTML += `
                    <div class="col-md-12">
                        <div class="post-overaly-style post-sm overlay-primary  ml-8" style="background-image:url(${post.headerPhotoPath})">
                            <div class="post-content">
                                <a class="post-cat health" href="#">${post.category.title}</a>
                                <h2 class="post-title title-md">
                                    <a href="#">${post.title}</a>
                                </h2>
                                <div class="post-meta">
                                    <ul>
                                        <li><a href="#"><i class="fas fa-clock"></i> 20 July, 2020</a></li>
                                        <li><a href="#" class="view"><i class="fas fa-fire"></i> 354k</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>`;
    }
</script>