<div class="sidebar-widget featured-tab post-tab">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link animated active fadeIn" href="#post_tab_c" data-toggle="tab">
                <span class="tab-head">
                    <span class="tab-text-title">Maraqlı</span>
                </span>
            </a>
        </li>
    </ul>
    <div class="gap-50 d-none d-md-block"></div>
    <div class="row">
        <div class="col-12">
            <div class="tab-content">
                <div class="tab-pane active animated fadeInRight" id="post_tab_c">
                    <div class="list-post-block">
                        <ul class="list-post">
                            <li>
                                <div class="post-block-style media">
                                    <div class="post-thumb">
                                        <a href="#">
                                            <img class="img-fluid" src="/images/news/fashion/image1.png" alt="">
                                        </a>
                                        <span class="tab-post-count"> 1</span>
                                    </div>
                                    <!-- Post thumb end -->

                                    <div class="post-content media-body">
                                        <div class="grid-category">
                                            <a class="post-cat tech-color" href="#">Texno</a>
                                        </div>
                                        <h2 class="post-title">
                                            <a href="#">Lorem ipsum Lorem ipsum Lorem ipsum </a>
                                        </h2>
                                        <div class="post-meta mb-7">
                                            <span class="post-date"><i class="fas fa-clock-o"></i> 29 July, 2020</span>
                                        </div>
                                    </div>
                                    <!-- Post content end -->
                                </div>
                                <!-- Post block style end -->
                            </li>
                            <!-- Li 1 end -->
                            <li>
                                <div class="post-block-style media">
                                    <div class="post-thumb">
                                        <a href="#">
                                            <img class="img-fluid" src="/images/news/lifestyle/image3.png" alt="">
                                        </a>
                                        <span class="tab-post-count"> 2</span>
                                    </div>
                                    <!-- Post thumb end -->

                                    <div class="post-content media-body">
                                        <div class="grid-category">
                                            <a class="post-cat travel-color" href="#">Səyahət<a>
                                        </div>
                                        <h2 class="post-title">
                                            <a href="#">Lorem ipsum Lorem ipsum Lorem ipsum </a>
                                        </h2>
                                        <div class="post-meta mb-7">
                                            <span class="post-date"><i class="fas fa-clock-o"></i> 29 July, 2020</span>
                                        </div>
                                    </div>
                                    <!-- Post content end -->
                                </div>
                                <!-- Post block style end -->
                            </li>
                            <!-- Li 2 end -->
                            <li>
                                <div class="post-block-style media">
                                    <div class="post-thumb">
                                        <a href="#">
                                            <img class="img-fluid" src="/images/news/health/image2.png" alt="">
                                        </a>
                                        <span class="tab-post-count"> 5</span>
                                    </div>
                                    <!-- Post thumb end -->

                                    <div class="post-content media-body">
                                        <div class="grid-category">
                                            <a class="post-cat health-color" href="#">Sağlamlıq</a>
                                        </div>
                                        <h2 class="post-title">
                                            <a href="#">Lorem ipsum Lorem ipsum Lorem ipsum </a>
                                        </h2>
                                        <div class="post-meta mb-7">
                                            <span class="post-date"><i class="fas fa-clock-o"></i> 29 July, 2020</span>
                                        </div>
                                    </div>
                                    <!-- Post content end -->
                                </div>
                                <!-- Post block style end -->
                            </li>
                            <!-- Li 3 end -->
                            <li>
                                <div class="post-block-style media">
                                    <div class="post-thumb">
                                        <a href="#">
                                            <img class="img-fluid" src="/images/news/health/image1.png" alt="">
                                        </a>
                                        <span class="tab-post-count"> 1</span>
                                    </div>
                                    <!-- Post thumb end -->

                                    <div class="post-content media-body">
                                        <div class="grid-category">
                                            <a class="post-cat sports-color" href="#">İdman</a>
                                        </div>
                                        <h2 class="post-title">
                                            <a href="#">Lorem ipsum Lorem ipsum Lorem ipsum </a>
                                        </h2>
                                        <div class="post-meta mb-7">
                                            <span class="post-date"><i class="fas fa-clock-o"></i> 29 July, 2020</span>
                                        </div>
                                    </div>
                                    <!-- Post content end -->
                                </div>
                                <!-- Post block style end -->
                            </li>
                            <!-- Li 3 end -->
                        </ul>
                        <!-- List post end -->
                    </div>
                </div>
                <!-- Tab pane 2 end -->
            </div>
            <!-- tab content -->
        </div>
    </div>
</div>

<script>
    fetch('/api/InterestingPosts')
        .then(resp => resp.json())
        .then(posts => console.log(posts));
</script>