<div class="sidebar-widget social-widget">
    <h2 class="block-title">
        <span class="title-angle-shap"> Social</span>
    </h2>
    <div class="sidebar-social">
        <ul class="ts-social-list">
            <li class="ts-facebook">
                <a href="#">
                    <i class="tsicon fab fa-facebook"></i>
                    <div class="count">
                        <b>300 </b>
                        <span>Likes</span>
                    </div>
                </a>
            </li>
            <li class="ts-twitter">
                <a href="#">
                    <i class="tsicon fab fa-twitter"></i>
                    <div class="count">
                        <b>300 </b>
                        <span>Follwers</span>
                    </div>
                </a>
            </li>
            <li class="ts-youtube">
                <a href="#">
                    <i class="tsicon fab fa-youtube"></i>
                    <div class="count">
                        <b>300 </b>
                        <span>Follwers</span>
                    </div>
                </a>
            </li>
            <li class="ts-instagram">
                <a style="color: red;" href="#">
                    <i class="tsicon fab fa-instagram"></i>
                    <div class="count">
                        <b>300 </b>
                        <span>Follwers</span>
                    </div>
                </a>
            </li>
        </ul>
        <!-- social list -->
    </div>
</div>
<!-- widget end -->
