                <!--- Featured Tab startet -->
<div class="featured-tab">
    <h2 class="block-title">
        <span class="title-angle-shap"> Yeniliklər</span>
    </h2>
    <ul class="nav nav-tabs" id="featureBlogsTitles">
        <li class="nav-item">
            <a class="nav-link animated fadeIn" href="#tab_a" data-toggle="tab">
                <span class="tab-head">
                    <span class="tab-text-title">Yaşam</span>
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link animated fadeIn" href="#tab_b" data-toggle="tab">
                <span class="tab-head">
                    <span class="tab-text-title">Texno</span>
                </span>
            </a>
        </li>
    </ul>

    <div class="tab-content" id="feauturePostsTabContent">
        <div class="tab-pane active animated fadeInRight" id="tab_a">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="post-block-style clearfix">
                        <div class="post-thumb">
                            <a href="#">
                                <img class="img-fluid" src="images/news/tech/image5.png" alt="" />
                            </a>
                            <div class="grid-cat">
                                <a class="post-cat tech" href="#">Texno</a>
                            </div>
                        </div>

                        <div class="post-content">
                            <h2 class="post-title title-md">
                                <a href="#">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum  </a>
                            </h2>
                            <div class="post-meta mb-7">
                                <span class="post-date"><i class="fas fa-clock-o"></i> 29 July, 2020</span>
                            </div>
                            <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum ....</p>
                        </div>
                        <!-- Post content end -->
                    </div>
                    <!-- Post Block style end -->
                </div>
                <!-- Col end -->

                <div class="col-lg-6 col-md-6">
                    <div class="list-post-block">
                        <ul class="list-post">
                            <li>
                                <div class="post-block-style media">
                                    <div class="post-thumb">
                                        <a href="#">
                                            <img class="img-fluid" src="images/news/fashion/image3.png" alt="" />
                                        </a>
                                    </div>
                                    <!-- Post thumb end -->

                                    <div class="post-content media-body">
                                        <div class="grid-category">
                                            <a class="post-cat tech-color" href="#">Texno</a>
                                        </div>
                                        <h2 class="post-title">
                                            <a href="#">Lorem ipsum Lorem ipsum Lorem ipsum </a>
                                        </h2>
                                        <div class="post-meta mb-7">
                                            <span class="post-date"><i class="fas fa-clock-o"></i> 29 July, 2020</span>
                                        </div>
                                    </div>
                                    <!-- Post content end -->
                                </div>
                                <!-- Post block style end -->
                            </li>
                            <!-- Li 1 end -->
                            <li>
                                <div class="post-block-style media">
                                    <div class="post-thumb">
                                        <a href="#">
                                            <img class="img-fluid" src="images/news/lifestyle/image3.png" alt="" />
                                        </a>
                                    </div>
                                    <!-- Post thumb end -->

                                    <div class="post-content media-body">
                                        <div class="grid-category">
                                            <a class="post-cat travel-color" href="#">Səyahət</a>
                                        </div>
                                        <h2 class="post-title">
                                            <a href="#">Lorem ipsum Lorem ipsum Lorem ipsum </a>
                                        </h2>
                                        <div class="post-meta mb-7">
                                            <span class="post-date"><i class="fas fa-clock-o"></i> 29 July, 2020</span>
                                        </div>
                                    </div>
                                    <!-- Post content end -->
                                </div>
                                <!-- Post block style end -->
                            </li>
                            <!-- Li 3 end -->
                        </ul>
                        <!-- List post end -->
                    </div>
                    <!-- List post block end -->
                </div>
                <!-- List post Col end -->
            </div>
            <!-- Tab pane Row 1 end -->
        </div>
        <!-- Tab pane 1 end -->

        <div class="tab-pane animated fadeInRight" id="tab_b">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="post-block-style clearfix">
                        <div class="post-thumb">
                            <a href="#">
                                <img class="img-fluid" src="images/news/tech/tech02.png" alt="" />
                            </a>
                            <div class="grid-cat">
                                <a class="post-cat tech" href="#">Texno</a>
                            </div>
                        </div>

                        <div class="post-content">
                            <h2 class="post-title title-md">
                                <a href="#">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </a>
                            </h2>
                            <div class="post-meta mb-7">
                                <span class="post-date"><i class="fas fa-clock-o"></i> 29 July, 2020</span>
                            </div>
                            <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum ....</p>
                        </div>
                        <!-- Post content end -->
                    </div>
                    <!-- Post Block style end -->
                </div>
                <!-- Col end -->

                <div class="col-lg-6 col-md-6">
                    <div class="list-post-block">
                        <ul class="list-post">
                            <li>
                                <div class="post-block-style media">
                                    <div class="post-thumb">
                                        <a href="#">
                                            <img class="img-fluid" src="images/news/fashion/image3.png" alt="" />
                                        </a>
                                    </div>
                                    <!-- Post thumb end -->

                                    <div class="post-content media-body">
                                        <div class="grid-category">
                                            <a class="post-cat tech-color" href="#">Texno</a>
                                        </div>
                                        <h2 class="post-title">
                                            <a href="#">Lorem ipsum Lorem ipsum Lorem ipsum </a>
                                        </h2>
                                        <div class="post-meta mb-7">
                                            <span class="post-date"><i class="fas fa-clock-o"></i> 29 July, 2020</span>
                                        </div>
                                    </div>
                                    <!-- Post content end -->
                                </div>
                                <!-- Post block style end -->
                            </li>
                            <!-- Li 1 end -->
                            <li>
                                <div class="post-block-style media">
                                    <div class="post-thumb">
                                        <a href="#">
                                            <img class="img-fluid" src="images/news/lifestyle/image3.png" alt="" />
                                        </a>
                                    </div>
                                    <!-- Post thumb end -->

                                    <div class="post-content media-body">
                                        <div class="grid-category">
                                            <a class="post-cat travel-color" href="#">Səyahət</a>
                                        </div>
                                        <h2 class="post-title">
                                            <a href="#">Lorem ipsum Lorem ipsum Lorem ipsum </a>
                                        </h2>
                                        <div class="post-meta mb-7">
                                            <span class="post-date"><i class="fas fa-clock-o"></i> 29 July, 2020</span>
                                        </div>
                                    </div>
                                    <!-- Post content end -->
                                </div>
                                <!-- Post block style end -->
                            </li>
                            <!-- Li 2 end -->
                            <li>
                                <div class="post-block-style media">
                                    <div class="post-thumb">
                                        <a href="#">
                                            <img class="img-fluid" src="images/news/health/image2.png" alt="" />
                                        </a>
                                    </div>
                                    <!-- Post thumb end -->

                                    <div class="post-content media-body">
                                        <div class="grid-category">
                                            <a class="post-cat health-color" href="#">Sağlamlıq</a>
                                        </div>
                                        <h2 class="post-title">
                                            <a href="#">Lorem ipsum Lorem ipsum Lorem ipsum </a>
                                        </h2>
                                        <div class="post-meta mb-7">
                                            <span class="post-date"><i class="fas fa-clock-o"></i> 29 July, 2020</span>
                                        </div>
                                    </div>
                                    <!-- Post content end -->
                                </div>
                                <!-- Post block style end -->
                            </li>
                            <!-- Li 3 end -->
                            <li>
                                <div class="post-block-style media">
                                    <div class="post-thumb">
                                        <a href="#">
                                            <img class="img-fluid" src="images/news/health/image1.png" alt="" />
                                        </a>
                                    </div>
                                    <!-- Post thumb end -->

                                    <div class="post-content media-body">
                                        <div class="grid-category">
                                            <a class="post-cat sports-color" href="#">İdman</a>
                                        </div>
                                        <h2 class="post-title">
                                            <a href="#">Lorem ipsum Lorem ipsum Lorem ipsum </a>
                                        </h2>
                                        <div class="post-meta mb-7">
                                            <span class="post-date"><i class="fas fa-clock-o"></i> 29 July, 2020</span>
                                        </div>
                                    </div>
                                    <!-- Post content end -->
                                </div>
                                <!-- Post block style end -->
                            </li>
                            <!-- Li 3 end -->
                        </ul>
                        <!-- List post end -->
                    </div>
                    <!-- List post block end -->
                </div>
                <!-- List post Col end -->
            </div>
            <!-- Tab pane Row 1 end -->
        </div>
        <!-- Tab pane 5 end -->
    </div>
    <!-- tab content -->
</div>
<!-- Technology Tab end -->

<script>
    let featureBlogsTitles = document.getElementById('featureBlogsTitles');
    let feauturePostsTabContent = document.getElementById('feauturePostsTabContent');

    fetch('/api/blogs')
        .then(resp => resp.json())
        .then(async (blogs) => {
            let i = 1;
            for (let blog of blogs) {
                addBlogToTitlesContainer(blog, i);

                await fetch('/api/BlogPosts/' + blog.id)
                    .then(resp => resp.json())
                    .then(posts => {
                        let blogTitle = blog.title;
                        console.log(posts);//posts inside this blog
                    });

                i++;
            }
        });

    function addBlogToTitlesContainer(blog, i) {
        featureBlogsTitles.innerHTML +=
            `<li class="nav-item">
                                <a class="nav-link animated fadeIn" href="#tab_${i}" data-toggle="tab">
                                    <span class="tab-head">
                                        <span class="tab-text-title">${blog.title}</span>
                                    </span>
                                </a>
                       </li>`;
    }

    function addPostsToContent(posts) {
        feauturePostsTabContent.innerHTML += ``;
    }
</script>